.DS_Store
roles/jenkins/files/*.pem
roles/jenkins/files/*.crt
roles/jenkins/files/*.cer
roles/jenkins/files/*.key
roles/jenkins/files/*.pfx
roles/jenkins/files/*.p12
roles/jenkins/files/*.jks
*.log
*.log.*